  body { font-family: sans-serif; }

  .lvl1{
    background: #223;
    opacity: 0.9;
    border:    0;

    
    height: 222px;
  }
 .lvl2{
    background: #223;
    opacity: 0.9;
    border:    0;

    
    height: 222px;
  }
   